.nexlogo {
  height: 50px;
  width: 100%;
}
.heroContent {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: fit-content;
  gap: 40px 40px;
  padding: 50px;
  justify-content: space-between;
}
.textco {
  display: grid;
  grid-template-columns: auto auto auto;
  width: fit-content;
  gap: 40px 40px;
  padding: 50px;
  justify-content: space-between;
}
.container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px 40px;
  padding: 50px;
  justify-content: space-between;
}
.work-cons {
  display: grid;
  background-color: rgb(47, 47, 54);
  grid-template-columns: auto auto;
  gap: 40px 40px;
  padding: 50px;
  justify-content: space-between;
}
.cons {
  gap: 40px 40px;
  padding: 50px;
  justify-content: space-between;
}
.busniess-cons {
  background-color: rgb(247, 247, 247);
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px 40px;
  padding: 50px;
  justify-content: space-between;
}
.grid-container img {
  width: 100%;
  height: 100%;
}
.Stories {
  padding-left: 30px;
  font-size: xx-large;
}
.work {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 250;
  font-size: 20px;
}
.clients {
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: #fafcfd;
  padding: 10px;
  text-align: center;
}

.clients-company {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
}
.clientsimage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.icons {
  display: flex;
  justify-content: space-between;
  margin: 70px 0 0 0;
}
.clientsimage img {
  width: 100px;
  height: 100px;
}
.footer {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #222222;
  padding: 5% 7% 1% 7%;
}

.footer h3 {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  text-align: left;
}
.footer address {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
}
.company_section {
  width: 300px;
}
.footer p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #fafafa;
  text-align: left;
}
.footer-grid-wrapp {
  display: flex;
  justify-content: space-between;
}
.inquiry_section {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 65%;
}
.footer address {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
}
.terms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
